@import './primitive-colors.scss';

$brand-orange: #f47920;
$primary: #261a18;
$secondary: #6D7986;
$background: #fff;

$info: #a8a8a8;
$sucess: #28bc00;
$warning: #ffc000;
$error: #ff564e;

$text--primary: #111;
$text--secondary: #6D7986;
$text--tertiary: #B6BCC3;
$text--error: #F15045;

