$gap-2xs: 4px;
$gap-xs: 8px;
$gap-sm: 12px;
$gap-md: 16px;
$gap-lg: 20px;
$gap-xl: 24px;
$gap-2xl: 32px;
$gap-3xl: 40px;
$gap-4xl: 48px;
$gap-5xl: 72px;

$gap-2xs-neg: -4px;
$gap-xs-neg: -8px;
$gap-sm-neg: -12px;
$gap-md-neg: -16px;
$gap-lg-neg: -20px;
$gap-xl-neg: -24px;
$gap-2xl-neg: -32px;
$gap-3xl-neg: -40px;
$gap-4xl-neg: -48px;
$gap-5xl-neg: -72px;
