$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-main: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-2xl: 30px;
$font-size-3xl: 40px;
$font-size-4xl: 48px;

$line-height-normal: 1.4;
$line-height-condensed: 1.2;
$line-height-semi-condensed: 1.3;
